# Used for evaluation and some common for train too
numpy
pyext>=0.7
sacrebleu # we used 1.5.1
sacremoses # we used 0.0.45
torch>=1.7
transformers>=4 
psutil # we used 5.7.0

# Used during training
deepspeed>=0.4.0
tensorboardX>=2.2
